%html
  %head
    %title Virtual Assistant
  %body



    - if current_user
      %section.task_holder.col-md-6
        %h3 Here are your tasks:
        %ul
          - @tasks.all(order: [:deadline.asc]).each do |tee|
            %li.task
              %p.item
               
                = tee.task
              %p.deadline
                Deadline:
                = tee.deadline.strftime("%d/%m/%Y")

              %p.location
                Location:
                = tee.location
              %p.tag
                Tags:
                - tee.tags.map(&:tag_name).each do |x|
                  %a{:href => "/tags/#{x}"}= x

    -else
      %div#header
        Welcome to Virtual Assistant
        %div#banner
          %ul.menu
            %li
              %a{:href => "/users/new"} Sign up
          %ul.menu
            %li
              %a{:href => "/sessions/new"} Sign in
