%html
  %head
    %title Virtual Assistant
  %body



    - if current_user
      - @tasks.all(order: [:deadline.asc]).each do |tee|
        %center
          .row
            .col-md-4.col-md-offset-1
              .panel.panel-info
                .panel-heading
                  #{tee.task}
                .panel-body
                  %p
                    Deadline:
                    = tee.deadline.strftime("%d/%m/%Y")
                  %p
                    Location:
                    = tee.location
                  %p
                    Tags:
                    - tee.tags.map(&:tag_name).each do |x|
                      %a{:href => "/tags/#{x}"}= x
                  %p
                    %form{:method => "post", :action => "/tasks"}
                      %input{:type => "hidden", :name => "_method", :value => "delete"}
                      %input.btn.btn-danger{:type => "submit", :value => "Delete"}


    -else
      %div#header
        Welcome to Virtual Assistant
        %div#banner
          %ul.menu
            %li
              %a{:href => "/users/new"} Sign up
          %ul.menu
            %li
              %a{:href => "/sessions/new"} Sign in
