%html
  %head
    %title Virtual Assistant
  %body

   

    - if current_user
      %h3 Here are your tasks:
      %ul
        - @tasks.each do |tee|
          %li
            %p
              Task:
              = tee.task
            %p
              Deadline:
              = tee.deadline.strftime("%d/%m/%Y")
            %p
              Location:
              = tee.location
            %p
              Tags:
              - tee.tags.map(&:tag_name).each do |x|
                %a{:href => "/tags/#{x}"}= x

    -else
      %div#header
        Welcome to Virtual Assistant
        %div#banner
          %ul.menu
            %li
              %a{:href => "/users/new"} Sign up
          %ul.menu
            %li
              %a{:href => "/sessions/new"} Sign in
