Welcome to

- if current_user
  %h3 Here are your tasks:
  #peeps
  %ul
    - @tasks.each do |tee|
      %li
        %p
          Task:
          = tee.task
        %p
          Deadline:
          = tee.deadline
        %p
          Location:
          = tee.location
        %p
          Tags:
          = tee.tags.map(&:tag_name).join(', ')
- else
  %ul#menu
  %li
    %a{:href => "/users/new"} Sign up
  %li
    %a{:href => "/sessions/new"} Sign in
