%html
  %head
    %title Virtual Assistant
  %body

    - if current_user
      %h4 Here are your tasks:


      - @tasks.all(order: [:deadline.asc]).each do |tee|
        .container
          %center
            .row
              .col-md-6.col-md-offset-3
                .panel.panel-info
                  .panel-heading
                    #{tee.task}
                  .panel-body
                    %p
                      Deadline:
                      = tee.deadline.strftime("%d/%m/%Y")
                    %p
                      Location:
                      = tee.location
                    %p
                      Tags:
                      - tee.tags.map(&:tag_name).each do |x|
                        %a{:href => "/tags/#{x}"}= x
