%html
  %head
    %title Virtual Assistant
  %body
    #header
    %ul#menu
      %li
        %a{:href => "/users/new"} Sign up

    - if current_user
      Welcome, #{current_user.name}
      %form{:method => "post", :action => "/sessions"}
        %input{:name => "_method", :type => "hidden", :value => "delete"}
          %input{:type => "submit", :value => "Sign out"}
    =yield
