%html
  %head
    %title Virtual Assistant

    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", :rel => "stylesheet"}

    %link{:href => "/css/style.css", :rel => "stylesheet", :type => "text/css"}

  %body

    - if current_user
      %section#header_menu
        %div.col-md-12
          %div#welcome
            Welcome, #{current_user.name}
          %div#nav_buttons
            %div#sign_out_button
              %form{:method => "post", :action => "/sessions"}
                %input{:type => "hidden", :name => "_method", :value => "delete"}
                %input.button{:type => "submit", :value => "Sign out"}
            %div#new_task_button
              %form{:action => "/tasks/new"}
                %input.button{:type => "submit", :value => "New task"}

    - if flash[:errors] && !flash[:errors].empty?
      Please refer to the errors below
      %ul
        - flash[:errors].each do |error|
          %li #{error}

      - if flash[:notice]
        %p #{flash[:notice]}

    =yield
