%html
  %head
    %title Virtual Assistant
  %body

    - if current_user
      Welcome, #{current_user.name}
      %form{:method => "post", :action => "sessions"}
        %input{:type => "hidden", :name => "_method", :value => "delete"}
        %input.button{:type => "submit", :value => "Sign out"}

    - if flash[:errors] && !flash[:errors].empty?
      Please refer to the errors below
      %ul
        - flash[:errors].each do |error|
          %li #{error}

      - if flash[:notice]
        %p #{flash[:notice]}

    =yield
