%section.sign
  %h1 Please sign in

  %form{:action => "/sessions", :method => "post"}
    %p
    %input{:name => "email", :type => "text", :placeholder => "Email"}
      %p
      %input{:name => "password", :type => "password", :placeholder => "Password"}
        %p
          %p
          %input{:type => "submit", :value => "Sign in"}
