.container
  %center
    %h3 Please sign in
    %br
    .row
      .col-md-4.col-md-offset-4
        %form{:action => "/sessions", :method => "post"}
          .form-group
            %label{:for => "exampleInputEmail"} Email:
            %input#exampleInputEmail.form-control{:name => "email", :placeholder => "Email", :type => "email"}
          .form-group
            %label{:for => "exampleInputPassword"} Password
            %input#exampleInputPassword.form-control{:name => "password", :placeholder => "Password", :type => "password"}
          %button.btn.btn-default{:type => "submit"} Sign in
