.container
  %h3 Please sign in
  %br
  .row
    .col-xs-4.col-xs-offset-4
      %form{:action => "/sessions", :method => "post"}
        .form-group
          %label{:for => "exampleInputEmail"}
          %input#exampleInputEmail.form-control{:name => "email", :placeholder => "Email", :type => "email"}
        .form-group
          %label{:for => "exampleInputPassword"}
          %input#exampleInputPassword.form-control{:name => "password", :placeholder => "Password", :type => "password"}
        %button.btn.btn-default{:type => "submit"} Sign in
