%h1 Create your task

%form{:action => "/", :method => "post"}
  %p
  %input{:name => "task", :type => "text", :placeholder => "Task"}
    %p
    %input{:name => "location", :type => "text", :placeholder => "Location"}
      %p
      %input{:name => "deadline", :type => "date",:placeholder => "Deadline"}
        %p
        %input{:name => "tags", :type => "text", :placeholder => "#Tags"}
          %br
          %br
            %input{:type => "submit", :value => "Create Task"}
