%section.sign
  %h1 Please sign up

  %form{:action => "/users", :method => "post" }
    %p
    %input{:name => "email", :type => "text", :placeholder => "Email"}
      %p
      %input{:name => "password", :type => "password", :placeholder => "Password"}
        %p
        %input{:name => "password_confirmation", :type => "password",
         :placeholder => "Confirmation"}
          %p
          %input{:name => "name", :type => "text", :placeholder => "Name"}
            %p
              %p
              %input{:type => "submit", :value => "Sign up"}
